# Final Assignment (Honors) - Advanced SQL for Data Engineers

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Collecting sqlalchemy==1.3.9
  Downloading https://files.pythonhosted.org/packages/89/4e/f10fc5063d1048b3813c0caf99f06ec2b73851ae1a939feb85315dacb3fc/SQLAlchemy-1.3.9.tar.gz (6.0MB)
     |████████████████████████████████| 6.0MB 16.9MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/23/84/f4/c15e90bd4c87e0377dad50e670f4535715550f6fc3be27ea0f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Found existing installation: SQLAlchemy 1.4.13
    Uninstalling SQLAlchemy-1.4.13:
      Successfully uninstalled SQLAlchemy-1.4.13
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://mnl95650:7k6blf8%4034zgmxcj@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: mnl95650@BLUDB'

---

## E1Q1
#### Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [4]:
%%sql

SELECT CPS.NAME_OF_SCHOOL, CD.COMMUNITY_AREA_NAME, CPS.AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS AS CPS
INNER JOIN CENSUS_DATA AS CD
ON CPS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CD.HARDSHIP_INDEX = 98;

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('George Washington Carver Military Academy High School', 'Riverdale', '91.60%'),
 ('George Washington Carver Primary School', 'Riverdale', '90.90%'),
 ('Ira F Aldridge Elementary School', 'Riverdale', '92.90%'),
 ('William E B Dubois Elementary School', 'Riverdale', '93.30%')]

## E1Q2
#### Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [5]:
%%sql

SELECT CCD.CASE_NUMBER, CCD.PRIMARY_TYPE, CD.COMMUNITY_AREA_NAME
FROM CHICAGO_CRIME_DATA AS CCD
LEFT JOIN CENSUS_DATA AS CD
ON CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CCD.LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]

## E2Q1
#### Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column

In [6]:
%%sql

CREATE VIEW ICONS ("School_Name", "Safety_Rating", "Family_Rating","Environment_Rating",
"Instruction_Rating", "Leaders_Rating", "Teachers_Rating")
AS SELECT "NAME_OF_SCHOOL", "Safety_Icon", "Family_Involvement_Icon", "Environment_Icon",
"Instruction_Icon", "Leaders_Icon", "Teachers_Icon"
FROM CHICAGO_PUBLIC_SCHOOLS;

SELECT * FROM ICONS;

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name "MNL95650.ICONS" of type "VIEW".  SQLSTATE=42710 SQLCODE=-601
[SQL: CREATE VIEW ICONS ("School_Name", "Safety_Rating", "Family_Rating","Environment_Rating",
"Instruction_Rating", "Leaders_Rating", "Teachers_Rating")
AS SELECT "NAME_OF_SCHOOL", "Safety_Icon", "Family_Involvement_Icon", "Environment_Icon",
"Instruction_Icon", "Leaders_Icon", "Teachers_Icon"
FROM CHICAGO_PUBLIC_SCHOOLS;]
(Background on this error at: http://sqlalche.me/e/f405)

## E3Q1
#### Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

In [7]:
%%sql

#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (
IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)

LANGUAGE SQL

BEGIN

END @

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "#SET TERMINATOR @" was found following "BEGIN-OF-STATEMENT".  Expected tokens may include:  "<space>".  SQLSTATE=42601 SQLCODE=-104
[SQL: #SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (
IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)

LANGUAGE SQL

BEGIN

END @]
(Background on this error at: http://sqlalche.me/e/f405)

## E3Q2
#### Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

In [8]:
%%sql

#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE (
IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)

LANGUAGE SQL

BEGIN

    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Score" = in_Leader_Score
    WHERE "School_ID" = in_School_ID;

END @

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

## E3Q3
#### Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

In [9]:
%%sql

#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE
UPDATE_LEADERS_SCORE (
    IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)

LANGUAGE SQL

BEGIN

    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Score" = in_Leader_Score
    WHERE "School_ID" = in_School_ID;
    
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Very Weak';

    ELSEIF in_Leader_Score < 40 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Weak';

    ELSEIF in_Leader_Score < 60 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Average';

    ELSEIF in_Leader_Score < 80 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Strong';

    ELSEIF in_Leader_Score < 100 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Very Strong';

END IF;

END @

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

## E3Q4
#### Run your code to create the stored procedure.

In [12]:
%%sql

CALL UPDATE_LEADERS_SCORE (610038, 35);

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

In [13]:
%%sql

SELECT "School_ID", "Leaders_Score", "Leaders_Icon" FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 5;

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(610038, '35', 'Weak'),
 (610281, '63', 'Weak'),
 (610185, 'NDA', 'Weak'),
 (609993, '65', 'Weak'),
 (610513, '45', 'Weak')]

## E4Q1
#### Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

In [14]:
%%sql

#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE
UPDATE_LEADERS_SCORE (
    IN in_School_ID INTEGER, IN in_Leader_Score VARCHAR(3))

LANGUAGE SQL

BEGIN

    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Score" = in_Leader_Score
    WHERE "School_ID" = in_School_ID;
    
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Very Weak';

    ELSEIF in_Leader_Score < 40 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Weak';

    ELSEIF in_Leader_Score < 60 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Average';

    ELSEIF in_Leader_Score < 80 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Strong';

    ELSEIF in_Leader_Score < 100 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Very Strong';
    
    ELSE ROLLBACK WORK;
    
END IF;

END @

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]

## E4Q2
#### Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

In [15]:
%%sql

#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE
UPDATE_LEADERS_SCORE (
    IN in_School_ID INTEGER, IN in_Leader_Score VARCHAR(3))

LANGUAGE SQL

BEGIN

    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Score" = in_Leader_Score
    WHERE "School_ID" = in_School_ID;
    
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Very Weak';

    ELSEIF in_Leader_Score < 40 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Weak';

    ELSEIF in_Leader_Score < 60 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Average';

    ELSEIF in_Leader_Score < 80 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Strong';

    ELSEIF in_Leader_Score < 100 THEN
    UPDATE CHICAGO_PUBLIC_SCHOOLS
    SET "Leaders_Icon" = 'Very Strong';
    
    ELSE ROLLBACK WORK;
    
END IF;

COMMIT WORK;

END @

 * ibm_db_sa://mnl95650:***@dashdb-txn-sbox-yp-lon02-13.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]